
.r1-style{
   background-color: #000657;
   color:#ffffff;

}

.r1-c1{
    text-align: left;
}

.r1-c2{
    text-align: right;
}

.r2-c1{
    color: #fe571a;
    font-size: 30px;
}

.r2-c1-t2
{
    color:#040034;
    font-size: 16px;
}

.r2-c2{
    color: #ffffff;
    text-align: center;
    background-color:#fe571a;
    font-size: 28px;
    padding-top: 8px;
}
.r4-pad{
    padding: 12px;
}
.box-bg{
    background-color: #F3F3F3;
    width: 623px;
    height: 338px;
    margin: 5px;
}
.box-bg:hover{
    background-color: #B4B4B4;
    width: 625px;
    height: 340px;
}

