
 .dropdwn{
  margin: 0 auto;
 }
 nav{
  height: 50px;
  background: #2b2b2b;
 
 }
 nav ul{
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 30px;
 }
 nav ul li{
  background: #2b2b2b;
  position: relative;
  list-style: none;
  display: inline-block;
  height: 50px;
 }
 nav ul li a{
  display: block;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  line-height: 50px;
  font-size: 20px;
  transition: .5s;
 }
 nav ul li a:hover{
  background: #616161;
  text-decoration: none;
  color: #ffffff;
  height: 50px;
 }
 nav ul ul{
  position: absolute;
  top: 50px;
  line-height: 15px !important;
  display: none;
 }
 nav ul li:hover > ul{
  display: block;
 }
 nav ul ul li{
/*width: 0px;   กำหนดความยาว*/
  float: none;
  display: list-item;
  position: relative;
  line-height: 15px !important;
 }
 nav ul ul ul li{
  position: relative;
  top: -50px;
  left: 150px;
 }
 

 .floatRight{
   float:right;
   padding-top: 5px ;
   background-color: none;
 
 }
 

 