nav {
  background-image: linear-gradient(#3128b9, #1d1499, #100874);
}

.posi {
  position: sticky;
  top: 0;
  z-index: 1;
}
nav .dropdown {
  display: inline-block;
  margin-right: -4px;

}

.dropbtn {
  background-color: none;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3b30d6;
}

.floatRight {
  float: center;
  text-align: center;
  padding-top: 8px;
  background-color: none;
}

.sigOut-color {
  font-size: 18px;
  color: #f1f1f1;
 
}
.sigout-div{
  background-color: #493ee6;
}
.sigout-div:hover {
  
  background-color: #3b30d6;
}
.posiFooterVersion{
  color: #f1f1f1;
    background-color: #3b30d6;
    position: fixed;
    bottom: 0%;
width: "100%";


}